.conteiner-information {
 margin-top: 5em;
 margin-left: 1em;
}


.conteiner-formation {
  margin-left: 1em;
}

p {
  padding: 1em;
}


.NameUniverse {
  margin-bottom:8px;
  font-family: 'Roboto', sans-serif;
}


  .location {
    color: #666666;
    font-family: 'Risque', cursive;
  }


  label {
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
  }

  ul {
    list-style: none;
  }

  li {
    margin-top: 10px;
    margin-bottom: 10px;

    color: #666666;
    font-family: 'Risque', cursive;
  }


