<div class="conteiner-information">
  <div class="conteiner-formation">
    <div class="NameUniverse">Technical of Computer Science - Formation Technical</div>
    <div class="location"> Instituto Nossa Senhora de Fátima -São Paulo </div>
    <p></p>

    <div class="NameUniverse">Basic English to Intermidiu - Studied </div>
    <div class="location"> Instituto Nossa Senhora de Fátima -São Paulo </div>
  </div>
  <p></p>

  <div class="conteiner-exeperience">
    <label>Exeperiences: </label>
    <ul class="exeperiences">
      <li class="exeperience">Node.js </li>
      <li class="exeperience">Git </li>
      <li class="exeperience">Desenvolvimento de Projetos no Framework React</li>
      <li class="exeperience">Banco de dados Mysql</li>
    </ul>
  </div>
</div>

